body {
    background: #3bb7f9;
    animation: bgColor 10s infinite;
}
  @keyframes bgColor {
    0% {
      background: #3bb7f9;
    }
    50% {
      background: #0774af;
    }
    100% {
      background: #3bb7f9;
    }
}

#app_name {
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 0 #000,
               -1px 1px 0 #000,
               1px -1px 0 #000,
               -1px -1px 0 #000;
}
#box {
    background-color: white;
    margin:  0 auto;
    width: 500px;
    height: 220px;
    padding: 10px; 
    border-radius: 30px;
}
.input_line {
    font-size: 20px;
    margin-left: 25px;
    margin-bottom: 35px;
}
select {
    height: 25px;
    width: 100px;
}
a.join_btn {
  display: block;
	width: 140px;
	padding: 8px;
  text-align: center;
  text-decoration: none;
	color: #0774af;
	border: 2px solid #0774af;
	border-radius: 3px;
  transition: 0.5s;
  margin: 0 auto;
}
a.join_btn:hover {
  background: #0774af;
	color: white;
}
